# İkili dosyalar ve derlenmiş yürütülebilir dosyalar
*.exe
*.dll
*.so
*.dylib
*.test
*.out

*.o
*.a
*.ch**
/go/bin/
/go/pkg/
/go/src/pkg/

vendor/

.DS_Store
Thumbs.db

.idea/
*.iml
.vscode/
*.swp
*.swo

vendor/

bin/
pkg/

*.log

*.coverprofile

*.tmp
*.temp

coverage.out
